#invite-payment-form  li {
	padding: 0px; 
}

#invite-payment-form  img {
	float: left; 
	position: relative;
	padding-top: 6px; 
	padding-right: 10px; 
}
	
#invite-payment-form  input {
	width: 100%;
	min-height: 0px;
}

#invite-payment-form  div.full_width {
	width: 70%;
	float: left;
}

#invite-payment-money {
	font-size: 2.5em;
	font-weight: bold;
}

#invite-payment-money {
	padding: 0px;
}

.big-euro-class .ui-input-text {
	width: 60%;
	border: 0 none;
}

.invite_link {
	background-color: #FFB787;
}

.invite_li .ui-page-theme-a, .invite_li .ui-btn, .invite_li .ui-bar-a, .invite_li .ui-btn, .invite_li .ui-body-a, .invite_li .ui-btn, .invite_li .ui-group-theme-a, .invite_li .ui-btn, .invite_li .ui-btn.ui-btn-a, .invite_li .ui-page-theme-a, .invite_li .ui-btn:visited, .invite_li .ui-bar-a, .invite_li .ui-btn:visited, .invite_li .ui-body-a, .invite_li .ui-btn:visited, .invite_li .ui-group-theme-a, .invite_li .ui-btn:visited, .invite_li .ui-btn, .invite_li .ui-btn-a:visited {
	background-color: #FFB787;
}